<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vendor & Order Tracker</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <h1>Add an Order</h1>
  <p>Add a new order here:</p>

  <form action="/vendor/@Model.IDNumber/orders" method="post">
    <input id="vendorID" name="vendorID" type="hidden" value="@Model.IDNumber">
    <label for="orderTitle">Order Title: </label>
    <input id="orderTitle" name="orderTitle" type="text">
    <br>
    <label for="orderDescription">Description: </label>
    <input id="orderDescription" name="orderDescription" type="text">
    <br>
    <label for="orderPrice">Price: </label>
    <input id="orderPrice" name="orderPrice" type="number">
    <br>
    <label for="orderDate">Date: </label>
    <input id="orderDate" name="orderDate" type="text">
    <button type="submit">Add Order</button>
  </form>

  <p><a href="/vendor/@Model.IDNumber">Back to @Model.Name</a></p>
  <p><a href="/vendors">Back to Vendors</a></p>
  <p><a href="/">Return to Main Page</a></p>

</body>

</html>